body {
	display: flex;
	flex-direction: column;

}

body,
html {
	font-size: 26.66vw;
	height: 100%;
}

section {
	width: 100%;
	flex: 1;
	overflow-y: auto;
}

header {
	width: 100%;
	background: #4A4942;
	height: 0.4rem;
}

header #head {
	width: 93.6%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	font-size: 0.2rem;
}

header #head .icon-iconfontjiantouzuo {
	position: absolute;
	left: 0;
	color: #EEC14F;
	font-size: 0.24rem;
	line-height: 0.4rem;
}

header #head p {
	text-align: center;
	color: #EEC14F;
	line-height: 0.4rem;
	font-size: 0.16rem;
}

form{width: 100%;height: 0.41rem;font-size: 0.2rem;display: flex;justify-content: center;align-items: center;	background: #D8D8D8;}
input{width: 3.51rem;height: 0.3rem;border-radius:0.08rem;border:1px solid rgba(153,153,153,1);color: #D8D8D8;font-size: 0.12rem;text-align: center;}

#addFriend{
	width: 100%;height: 0.3rem;background: white;font-size: 0.21rem;border-bottom: 0.01rem solid #979797;
}
#addFriend .icon-hao{background: #EEC14F;border-radius: 50%;text-align: center;color: white;margin-left: 0.15rem;font-size: 0.18rem;}
#addFriend p{font-size: 0.12rem;line-height: 0.3rem;display: inline-block;margin-left: 0.15rem;vertical-align: top;}
#addFriend .icon-you{font-size: 0.16rem;float: right;line-height: 0.3rem;margin-right: 0.15rem;}
