body {
	display: flex;
	flex-direction: column;
}

body,
html {
	font-size: 26.66vw;
	height: 100%;
}

section {
	width: 93.6%;
	flex: 1;
	margin: 0 auto;
	font-size: 0.12rem;
}

header {
	width: 100%;
	background: #4A4942;
	height: 0.4rem;
}

header #head {
	width: 93.6%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	font-size: 0.2rem;
}

header #head .icon-iconfontjiantouzuo {
	position: absolute;
	left: 0;
	color: #EEC14F;
	font-size: 0.24rem;
	line-height: 0.4rem;
}


header #head p {
	text-align: center;
	color: #EEC14F;
	line-height: 0.4rem;
	font-size: 0.16rem;
}

section h3{
	font-size: 0.14rem;
	text-indent: 0.18rem;
	position: relative;
	line-height: 0.16rem;
	margin-top: 0.11rem;
}
section h3:before{
	content: '';
	width: 0.04rem;
	height: 0.16rem;
	background: #EEC14F;
	position: absolute;
	left: 0;
}

section .swiper-slide{
	width: 3.21rem;
	height: 4.48rem;
	border-radius: 0.08rem;
	position: relative;
	overflow: hidden;
	
}
section .swiper-container{
	width: 3.21rem;
	height: 4.48rem;
	border-radius: 0.08rem;
	overflow: hidden;
	margin-top: 0.36rem;
}
section .swiper-wrapper{
	width: 3.21rem;
	height: 4.48rem;
}

section .swiper-slide img{
	width: 3.21rem;
	height: 4.48rem;
}

section .btn{
	width: 0.38rem;
	height: 1.8rem;
	background: rgba(0,0,0,.6);
	position: fixed;
	right: 0.36rem;
	top: 3.6rem;
	border-radius: 0.2rem;
	text-align: center;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
section .btn span{font-size: 0.18rem;color: white;display: block;cursor: pointer;}
section .btn p{font-size: 0.12rem;color: white;text-align: center;}



footer {
	width: 100%;
	height: 0.49rem;
	background: rgba(74, 73, 66, 1);
	display: flex;
	justify-content: space-around;
}

#foot>a {
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	margin-top: 0.03rem;
	font-size: 0.24rem;
}

#foot a span {
	font-size: 0.12rem;
	color: white;
}

#foot>a:nth-child(2) {
	color: #EEC14F;
}

#foot>a:nth-child(2) span {
	color: #EEC14F;
}