body {
	display: flex;
	flex-direction: column;
}

body,
html {
	font-size: 26.66vw;
	height: 100%;
}

section {
	width: 93.6%;
	flex: 1;
	margin: 0 auto;
	position: absolute;
	top: 0.68rem;
	left: 0.12rem;
}

header {
	width: 100%;
	height: 1.71rem;
	background: rgba(74, 73, 66, 1);
	border-radius: 0 0 0.3rem 0.3rem;
}

#head {
	width: 93.6%;
	height: 0.36rem;
	margin: 0 auto;
	overflow-x: auto;
	position: relative;
}


header #head .icon-iconfontjiantouzuo {
	position: absolute;
	left: 0;
	color: #EEC14F;
	font-size: 0.24rem;
	line-height: 0.4rem;
}

header #head .icon-shangchuan {
	position: absolute;
	right: 0;
	color: #EEC14F;
	font-size: 0.24rem;
	line-height: 0.4rem;
}

header #head p {
	text-align: center;
	color: #EEC14F;
	line-height: 0.4rem;
	font-size: 0.16rem;
}

section .self{
	width: 100%;
	height: 0.58rem;
	font-size: 0.58rem;
}
section .self span{
	position: absolute;
	left: 0;
	width: 0.58rem;height: 0.58rem;
	border-radius: 50%;
	background: gray;
}
section .user{
	width: 1rem;
	height: 100%;
	margin-left: 0.8rem;
	
}
section p{line-height: 0.33rem;}
section .username{
	font-size: 0.16rem;
	color: white;
}
section .userstate{
	font-size: 0.14rem;
	color: white;
}

section .getvip{
	width: 93.6%;
	height: 2.23rem;
	background: white;
	border:1px solid rgba(151,151,151,1);
	border-radius:0.1rem;
	margin: 0.12rem auto;
	font-size: 0.12rem;
}
section .getvip p{
	font-size:0.12rem;
	text-indent: 0.48rem;
	line-height: 0.16rem;
	margin-top: 0.14rem;
}
section .getvip .click{
	background: #EEC14F;
	border: 0;
}
section .getvip span{
	font-size: 0.12rem;
	display: inline-block;
	width: 0.72rem;
	height: 0.72rem;
	box-sizing: border-box;
	border:1px solid rgba(151,151,151,1);
	border-radius: 0.1rem;
	margin: 0.1rem 0 0 0.27rem;
	text-align: center;
}
section .getvip span label{
	display: block;
	margin-top: 0.1rem;
}
section .getvip span:nth-child(2) label{
	color: #E21818;
}
section .getvip a{
	width: 1.95rem;
	height: 0.4rem;
	background: #EEC14F;
	font-size: 0.16rem;
	line-height: 0.4rem;
	text-align: center;
	display: block;
	border-radius: 0.2rem;
	margin: 0.3rem auto 0;
	color: white;
}
section .getvip h2{
	font-size: 0.12rem;
	text-align: center;
	margin-top: 0.12rem;
}
section h3{
	font-size: 0.14rem;
	text-indent: 0.18rem;
	position: relative;
	line-height: 0.16rem;
}
section h3:before{
	content: '';
	width: 0.04rem;
	height: 0.16rem;
	background: #EEC14F;
	position: absolute;
	left: 0;
}
.first,.second,.third{
	width: 100%;
	height: 0.48rem;
	margin-top: 0.3rem;
	font-size: 0.16rem;
}
.first span,.second span,.third span{
	font-size: 0.4rem;
	color: #EEC14F;
	float: left;
}
.first p,.second p,.third p{
	display: inline-block;
	font-size: 0.14rem;
	line-height: 0.14rem;
	float: left;
	margin:0.05rem 0 0 0.2rem;
	width: 50%;
}
.first label,.second label,.third label{
	font-size: 0.12rem;
	color: #666666;
	float: left;
	margin: 0.05rem 0 0 0.2rem;
}