@charset"utf-8";
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input,textarea,select,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a,u{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px}
body{ font-family:"΢���ź�";font-size:12px}
input,a{outline:none;}
.clear:after{content:��.��;display:block; clear:both; height:0; overflow:hidden; visibility:hidden ; }